<%- include('./partials/head.ejs') -%>

<body class="bg-gray-100 text-gray-600">
  <div class="flex items-center justify-center my-20">   
    <img src="./img/404.png" alt="404 not found">

    <div>
      <h1 class="text-3xl max-w-md">Opps! Looks like the page you are requsting have been moved permanently or doesn't exit</h1>
      <a class="font-bold underline py-3 px-2 mt-2 shadow-lg inline-block rounded-lg" href="/">Go back to safety!</a>
    </div>
  </div>
</body>
</html>