<%- include('./partials/head.ejs') -%>

<body class="bg-gray-100 text-gray-600">
  <div class="flex items-center justify-center my-20">   
    <img src="./img/err.jpg" alt="404 not found">
  </div>
</body>
</html>