<%- include('./partials/head.ejs') -%>

<body class="bg-gray-100 text-gray-600">
  <div class="flex items-center justify-center my-20">   
    <img src="./img/err.jpg" alt="404 not found">

    <div>
      <h1 class="text-3xl max-w-md">Opps! Looks like the page you are requsting have been permanently moved or doesn't exit</h1>
      <a href="/">Go back to safety!</a>
    </div>
  </div>
</body>
</html>