<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body class="font-nunito bg-gray-100 text-gray-600">
  <div><!-- content wrapper-->
    <div>
      <header class="flex items-center justify-between p-2 bg-gray-900 text-white">
        <div class="burger md:hidden px-2 cursor-pointer"><!-- burger menu-->
          <svg class="w-6" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </div>

        <h1 class="text-3xl">
          <a href="">
            <span>Chiccrochet.</span>
          </a>
        </h1>
      </header>

      <!-- cover image-->
        <img src="./img/1.jpeg" alt="spongebob crochet" class="w-full h-80 object-cover">
    </div>
  </div>
</body>
</html>