<%- include('partials/head.ejs'); -%>

<body class="bg-gray-100">
  <div class='container p-2 md:p-6'>

    <header class="flex justify-end mb-5 border-b pb-3">
      <a href="#" class="btn">Logout</a>
    </header>

    <form class="ml-10">
      <h2 class='text-2xl font-bold mb-6 pb-3 border-b border-gray-200'>Login</h2>

      <label class='block mb-5'>
        <span class='block mb-2'>email:</span>
        <input class='input' type="text" name="email"/>
        <div class="email error mt-2 text-sm text-red-400 tracking-wider"></div>
      </label>

      <label class='block mb-5'>
        <span class='block mb-2'>password:</span>
        <input class='input' type="password" name="password"/>
        <div class="password error mt-2 text-sm text-red-500 tracking-wider"></div>
      </label>

      <button class="btn">login</button>
    </form>
  </div>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const btn = document.querySelector('button')

    form.addEventListener('submit', async e => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get the form value
      const email = form.email.value
      const password = form.password.value

      try{
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json'}
        });
        const data = await res.json();
        btn.textContent = 'Loading...';
        if(data.errors){
          btn.textContent = 'Login';
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if(data.user){
          location.assign('/');
          btn.textContent = 'Loading...';
        }
      }
      catch(err) {
        console.log(err);
      }
    })
  </script>
</body>
</html>