<%- include('partials/head.ejs'); -%>

<body class="bg-gray-100">
  <div class='container p-2 md:p-6'>

    <header class="flex justify-end mb-5 border-b pb-3">
      <a href="/signup" class="btn mr-5">Signup</a>
      <a href="#" class="btn">Logout</a>
    </header>

    <form class="ml-10">
      <h2 class='text-2xl font-bold mb-6 pb-3 border-b border-gray-200'>Login</h2>

      <label class='block mb-5'>
        <span class='block mb-2'>email:</span>
        <input class='input' type="text" name="email"/>
        <div class="email error text-sm italic font-bold text-red-400 tracking-wider"></div>
      </label>

      <label class='block mb-5'>
        <span class='block mb-2'>password:</span>
        <input class='input' type="password" name="password"/>
        <div class="password error text-sm italic text-red-400 tracking-wider"></div>
      </label>

      <button class="btn">login</button>
    </form>
  </div>

  <script>
    const form = document.querySelector('form');

    form.addEventListener('submit', e => {
      e.preventDefault();

      // get the form value
      const email = form.email.value
      const password = form.password.value

      console.log(email, password)
    })
  </script>
</body>
</html>