<%- include('partials/head.ejs'); -%>

<body class="bg-gray-100 text-gray-600">
  <div class='container p-2 md:p-6'>

    <h1 class="text-3xl border-b pb-2">
      <a href="/">
        <span>Chiccrochet.</span>
      </a>
    </h1>

    <form class="ml-10 flex flex-col justify-center items-center mt-10">
      <h2 class='text-2xl font-bold mb-2 border-b border-gray-200 text-center'>Get 1 free month of Chiccrochet.</h2>
      <p class="font-light text-xl text-center mb-5">Just login to continue</p>

      <label class='block mb-5'>
        <!-- <span class='block mb-2'>email:</span> -->
        <input class='input' type="text" name="email" placeholder="Email address"/>
        <div class="email error mt-2 text-sm text-red-400 tracking-wider"></div>
      </label>

      <label class='block mb-5'>
        <!-- <span class='block mb-2'>password:</span> -->
        <input class='input' type="password" name="password" placeholder="Password"/>
        <div class="password error mt-2 text-sm text-red-500 tracking-wider"></div>
      </label>

      <button class="btn">login</button>
    </form>
  </div>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const btn = document.querySelector('button')

    form.addEventListener('submit', async e => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get the form value
      const email = form.email.value
      const password = form.password.value

      try{
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json'}
        });
        const data = await res.json();
        btn.textContent = 'Logging in...';
        if(data.errors){
          btn.textContent = 'Login';
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        if(data.user){
          btn.textContent = 'Logged in...';
          location.assign('/');
        }
      }
      catch(err) {
        console.log(err);
      }
    })
  </script>
</body>
</html>