<%- include('partials/head.ejs'); -%>

<body class="bg-gray-100 text-gray-600">
  <div class='container p-2 md:p-6'>

    <h1 class="text-3xl border-b pb-2">
      <a href="/">
        <span>Chiccrochet.</span>
      </a>
    </h1>

    <form class="ml-10 mt-10 flex justify-center items-center">
      <div class="">
        <h2 class='text-2xl font-bold border-b border-gray-200 text-center mb-7'>Signup</h2>
        <!-- <p class="font-light text-xl text-center ">Just login to continue</p> -->
  
        <label class='block mb-5'>
          <!-- <span class='block mb-2'>email:</span> -->
          <input class='input' type="text" name="email" placeholder="Email address"/>
          <div class="email error mt-2 text-sm text-red-400 tracking-wider"></div>
        </label>
  
        <label class='block mb-5'>
          <!-- <span class='block mb-2'>email:</span> -->
          <input class='input' type="text" name="prefered_name" placeholder="Prefered Name"/>
          <div class="name error mt-2 text-sm text-red-400 tracking-wider"></div>
        </label>
  
        <label class='block mb-5'>
          <!-- <span class='block mb-2'>password:</span> -->
          <input class='input' type="password" name="password" placeholder="Password"/>
          <div class="password error mt-2 text-sm text-red-500 tracking-wider"></div>
        </label>
  
        <button class="btn mt-5">Signup</button>
      </div>
    </form>

  </div>

  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    const NameError = document.querySelector('.name.error');
    const btn = document.querySelector('button');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';
      NameError.textContent = '';
      
      // get the form value
      const email = form.email.value;
      const password = form.password.value;
      const prefered_name = form.prefered_name.value;
      console.log(prefered_name)
      
      try{
        const res = await fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password, prefered_name }),
          headers: { 'Content-Type': 'application/json'}
        });
        const data = await res.json();
        btn.textContent = 'Signing up...';
        if(data.errors){
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
          NameError.textContent = data.errors.prefered_name;
          btn.textContent = 'Sign up';
        }
        if(data.user){
          btn.textContent = 'Signing up...';
          location.assign('/');
        }
      }
      catch(err) {
        console.log(err);
      }
    })
  </script>
</body>
</html>