<%- include('partials/head.ejs'); -%>

<body class="bg-gray-100">
  <div class='p-2 md:p-6'>

    <header class="flex justify-end mb-5 border-b pb-3">
      <a href="/" class="btn mr-5">Signup</a>
      <a href="/login" class="btn">Login</a>
    </header>

    <form class="ml-10">
      <h2 class='text-2xl font-bold mb-6 pb-3 border-b border-gray-200'>Sign up</h2>

      <label class='block mb-5'>
        <span class='block mb-2'>email:</span>
        <input class='input' type="email"/>
      </label>

      <label class='block mb-5'>
        <span class='block mb-2'>password:</span>
        <input class='input' type="password"/>
      </label>

      <button class="btn">Signup</button>
    </form>
  </div>
</body>
</html>