<%- include('../partials/head.ejs') -%>

<body class="font-anek text-gray-600">
  <main class="grid md:grid-cols-3"><!--content wrapper -->
    <div class="col-span-2 bg-gray-100 p-7"><!-- course content-->
    </div>

    <div class="col-span-1 -order-1 md:order-2">
        <h1 class="text-3xl border-b pb-3">
          <a href="/">
              <span>Chiccrochet.</span>
          </a>
        </h1>
  
        <ul>
          <li class="p-2">
            <a href="#">
              <span>All courses</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Login</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Become a student</span>
            </a>
          </li>
        </ul>
      </div>
    </main><!--content wrapper end -->
</body>
</html>