<%- include('../partials/head.ejs') -%>

<body class="font-anek text-gray-600">
  <main class="grid md:grid-cols-3"><!--content wrapper -->
    <div class="col-span-2 bg-gray-100 p-7"><!-- course content-->
      <div class="md:grid gap-5 grid-cols-3">
        <img class="w-80 mb-5" src="./img/2.jpeg" alt="course image">
        <div class="col-span-2 order-2">
          <h1 class="text-2xl font-bold mb-3">Main content goes here</h1>
          <p class="text-sm md:max-w-md">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid! <br/><br/> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid!</p>
        </div>
      </div>

      <h2 class="text-2xl font-extrabold text-center my-5 mt-10">Get Access to this Course</h2>

      <div class="flex justify-center items-center">
        <button class="flex justify-center items-center py-2 px-3 my-5 bg-green-500 text-white rounded">Buy this Course for ( $3 )</button>
      </div>

    </div><!-- main end-->

    <div class="col-span-1 -order-1 md:order-2">
        <h1 class="text-3xl border-b pb-3">
          <a href="/">
              <span>Chiccrochet.</span>
          </a>
        </h1>
  
        <ul>
          <li class="p-2">
            <a href="#">
              <span>All courses</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Login</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Become a student</span>
            </a>
          </li>
        </ul>
      </div>
    </main><!--content wrapper end -->
</body>
</html>