<%- include('../partials/head.ejs') -%>

<body class="font-anek text-gray-600">
  <main class="grid md:grid-cols-3"><!--content wrapper -->
    <div class="col-span-2 bg-gray-100 p-7"><!-- course content-->
      <div class="md:grid gap-5 grid-cols-3">
        <img class="w-80 mb-5" src="./img/2.jpeg" alt="course image">
        <div class="col-span-2 order-2">
          <h1 class="text-2xl font-bold mb-3">Main content goes here</h1>
          <p class="text-sm md:max-w-md">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid! <br/><br/> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo repellat in provident, dolore nihil porro officiis nostrum optio voluptate aliquid!</p>
        </div>
      </div>

      <h2 class="text-2xl font-extrabold text-center my-5 mt-10">Get Access to this Course</h2>

      <div class="flex justify-center items-center">
        <button class="flex justify-center items-center py-2 px-3 my-5 bg-green-500 text-white rounded">Buy this Course for ( $3 )</button>
      </div>

      <div class=""><!-- what you'll learn-->
        <h2 class="text-2xl font-extrabold my-5 mt-10">What You'll Learn...</h2>

        <div class="bg-gray-100 p-4">
          <h3 class="textt-xl sm:text-2xl font-bold bg-gray-200 border border-dashed border-gray-600 py-1 px-4">Getting started with crocheting</h3>

          <ul>
            <li class="grid grid-cols-12 py-4 px-3 hover:shadow-sm">
              <svg class="col-span-1" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5 7.5V16.5L16.5 12L9.5 7.5Z" fill="#6B7280"/>
                <path d="M20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 18.01H4V5.99H20V18.01Z" fill="#6B7280"/>
              </svg>
              <span class="col-span-10 ml-1">introduction & setup<span class="hidden sm:inline">(16:40)</span></span>
              <button class="hidden col-span-1 sm:flex justify-center items-center w-14 py-1 rounded uppercase bg-red-500 text-white">Start</button>
            </li>

            <li class="grid grid-cols-12 py-4 px-3 hover:shadow-sm">
              <svg class="col-span-1" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.5 7.5V16.5L16.5 12L9.5 7.5Z" fill="#6B7280"/>
                <path d="M20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 18.01H4V5.99H20V18.01Z" fill="#6B7280"/>
              </svg>
              <span class="col-span-10 ml-1">crocheting basics<span class="hidden sm:inline">(5:20)</span></span>
              <button class="hidden col-span-1 sm:flex justify-center items-center w-14 py-1 rounded uppercase bg-red-500 text-white">Start</button>
            </li>

          </ul>
        </div>
      </div>

    </div><!-- main end-->

    <div class="col-span-1 -order-1 md:order-2">
        <h1 class="text-3xl border-b pb-3">
          <a href="/">
              <span>Chiccrochet.</span>
          </a>
        </h1>
  
        <ul>
          <li class="p-2">
            <a href="#">
              <span>All courses</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Login</span>
            </a>
          </li>
          <li class="p-2">
            <a href="#">
              <span>Become a student</span>
            </a>
          </li>
        </ul>
      </div>
    </main><!--content wrapper end -->
</body>
</html>